<div class="container">
  <app-header></app-header>
  <router-outlet></router-outlet>

  <footer>
    <p style="text-align: left; width:49%; display: inline-block; font-size: 12.5px">
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut enim consequat magna fermentum condimentum sed
      eu justo. Fusce eros leo, bibendum sed pulvinar viverra, pharetra vitae felis. Sed sed dui vitae est dapibus
      cursus at eget turpis. Aenean ullamcorper sapien sed orci tempus lobortis. Praesent cursus venenatis nibh eget
      sodales. Quisque tincidunt massa at nunc ornare, ut sodales libero vehicula. Aenean mattis turpis ut odio
      ultricies, ac venenatis dui sodales. Ut in turpis at eros rhoncus malesuada. Nulla rutrum rutrum leo nec
      ullamcorper. Fusce vitae elementum nunc. Fusce nulla lacus, ultricies nec dui a, volutpat lacinia quam. Sed felis
      nisi, convallis sed elit in, feugiat eleifend neque. Sed suscipit nisi at ex auctor, at laoreet nibh cursus.
      Praesent nec quam a nunc ultrices vulputate. Sed augue elit, finibus vitae venenatis dictum, placerat at lectus.
    </p>
    <p style="text-align: right; width:50%;  display: inline-block; font-size: 12.5px">
      Contact:<br />
      Game Ray Office<br />
      Phone Number: 0799236610<br />
      E-mail: gameray_office@gmail.com<br />
      Location - Flower Alley 14, Bucharest, Romania<br />
      This is a university project. Created by Raileanu Vlad-Gabriel. © 2022<br />
    </p>
  </footer>

</div>