#banImg {
  width: 850px;
  height: 315px;
  object-fit: fill;
  border-radius: 10px;
}

h1{
    color:rgb(80, 185, 255);
    font-family: "Shadows Into Light";
    font-size: 3rem !important;
}

h3, #captionP{
    color:white;
    font-weight: bolder;
}

ngb-carousel{
    box-shadow: 0px 0px 25px rgb(80, 185, 255);
    border: 1px solid rgb(80, 185, 255);
    border-radius: 10px;
}

.card:hover {
  box-shadow: 0px 0px 50px rgb(80, 185, 255);
}

.card {
  box-shadow: 0px 0px 0px rgb(80, 185, 255);
  transition: box-shadow 0.5s linear;
}

.card {
  background-color: rgb(80, 185, 255);
  border-radius: 5px;
}

.card:hover {
  border: 1px solid rgb(80, 185, 255);
}

#cardImg {
  width: 306px;
  height: 425px;
}
