<div bsModal class="modal fade" #RegisterModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="RegisterModal"
  aria-hidden="true" (onHide)=" this.addUserForm.reset();">
  <div id="bigDiv" class="modal-dialog" role="document" *ngIf="addUserForm">
    <div class="modal-content" style="background-color:black">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Register</h4>
        <button type="button" class="close" (click)="RegisterModal.hide()">
          <i class="fa-solid fa-x"></i>
        </button>
      </div>

      <div class="modal-body">

        <div *ngIf="aux">
          <br><br>
          <h1 style="text-align:center">Successful!</h1>
          <br><br>
          <button mdbBtn block="true" class="my-4" type="button" (click)="RegisterModal.hide()">
            Alright!
          </button>
        </div>

        <div class="register-form" *ngIf="!aux">
          <form [formGroup]="addUserForm" (ngSubmit)="addUser()" id="registrationForm">

            <div class="form-group">
              <label for="email">Email</label>
              <input style="margin-bottom:0px !important" type="email" id="email" class="form-control mb-4"
                formControlName="email" autocomplete="off" placeholder="Enter Email">
              <div style="margin-bottom: 15px; margin-top:none; font-size:12px; text-align:center">
                <span style="color:red"
                  *ngIf="this.addUserForm.controls.email.errors?.email">Not a valid email</span>
              </div>
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control mb-4" formControlName="password"
                autocomplete="off" placeholder="Enter Password">
            </div>

            <div class="form-group">
              <label for="rpassword">Re-type password</label>
              <input style="margin-bottom:0px !important" type="password" id="rpassword" class="form-control mb-4"
                formControlName="rpassword" autocomplete="off" placeholder="Re-type Password">
              <div style="margin-bottom: 15px; margin-top:none; font-size:12px; text-align:center">
                <span style="color:red"
                  *ngIf="this.addUserForm.controls.rpassword.value !== this.addUserForm.controls.password.value">Passwords
                  do not match</span>
              </div>
            </div>

            <div class="form-group">
              <button form="registrationForm" mdbBtn block="true" class="my-4" type="submit"
                [disabled]="!this.addUserForm.valid">Go!</button>
            </div>

            <div class="mb-4" style="text-align:center">
              <span *ngIf="registerInvalid" style="color:red;font-size:16px">{{registerMessage}}</span>
            </div>
          </form>
        </div>

      </div>

    </div>
  </div>
</div>